/* Importing static fonts */

@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Poppins Medium";
    src: url(../fonts/Poppins-Medium.ttf) format("truetype");
}

/* END */

/* Minimal CSS reset for browser compatibility */

body {
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

ul[class], ol[class] {
    list-style: none;
}

input, button, textarea, select {
    font: inherit;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    background: transparent;
    cursor: pointer;
}

/* END */

/* Declaring global custom CSS properties */

:root {

    --main-width: 1280px;
    --main-side-margin: 1rem;
    --main-side-padding: 1rem;

}

body {
    font-family: 'Poppins', sans-serif;
    background-color:#f3f4f6;
    font-size: .875rem;
    color: #69699b;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main_container {
    width: 100%;
    max-width: var(--main-width);
    padding: 0 var(--main-side-padding);
    margin: 0 auto;
}

/* Main navigation bar */

.header_navigation {
    position: sticky;
    background-color: #FFFFFF;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: rgba(149, 149, 149, 0.15) 0 3px 10px;
}
.navigation_bar img{

    height: 50px;
    width: auto;
}
.navigation_bar {
    font-family: 'Poppins Medium', sans-serif;
    padding: var(--main-side-padding);
    height: 3.5rem;

    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.navigation_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 2.5rem;
}

.navigation_logo {
    display: flex;
    z-index: 110;
}

.navigation_menu {
    display: flex;
    align-items: center;
}

.navigation_list {
    padding: 0;
    order: 0;

    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 1rem;
}

.navigation_item {
    width: 100%;
}

.navigation_link {
    display: flex;
    cursor: pointer;
    position: relative;
    align-items: center;
    white-space: nowrap;
    padding: 0.35rem 0.75rem;
    border-radius: 4px;
    color: #445D31;
    width: 100%;
}

.navigation_link:hover {
    background-color: #eff0f1;
}

.navigation_signin {
    display: flex;
    cursor: pointer;
    position: relative;
    align-items: center;
    white-space: nowrap;
    background-color:#9AB0DB;
    padding: 0.35rem 0.75rem;
    border-radius: 4px;
    color: #FFFFFF;
}

.navigation_signin:hover {
    background-color: #424F6A;
}

/* Custom toggle(checkbox) for the mobile version */

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    display: none;
    opacity: 0;
    pointer-events: none;
}

#navigation_toggle:checked ~ .navigation_extras label,
#navigation_toggle:not(:checked) ~ .navigation_extras label {
    display: none;
}

.navigation_extras {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    color: #69699b;
    z-index: 110;
    order: 1;
}

@media screen and (max-width: 900px) {

    #navigation_toggle:checked ~ .navigation_extras label,
    #navigation_toggle:not(:checked) ~ .navigation_extras label {
        display: flex;
    }

    #navigation_toggle:not(:checked) ~ .navigation_extras label .navigation_close,
    #navigation_toggle:checked ~ .navigation_extras label .navigation_open {
        display: none;
    }

    .navigation_container .navigation_list {
        position: fixed;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        top: -100%;
        left: 0;
        padding: 4rem 1rem 1rem 1rem;
        row-gap: 1rem;
        transition: .3s;
        background-color: #FFFFFF;
        box-shadow: rgba(149, 149, 149, 0.15) 0 3px 10px;
    }

    .navigation_list .navigation_link {
        padding: 0.60rem 1rem;
    }

    #navigation_toggle:checked ~ .navigation_container .navigation_list {
        top: 0;
    }

    #navigation_toggle:not(:checked) ~ .navigation_extras label .navigation_open,
    #navigation_toggle:checked ~ .navigation_extras label .navigation_close {
        display: flex;
        cursor: pointer;
    }
}
/* Importing static fonts */

@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-Regular.ttf) format("truetype");
}

/* END */

/* Minimal CSS reset for browser compatibility */

body {
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

ul[class], ol[class] {
    list-style: none;
}

input, button, textarea, select {
    font: inherit;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    background: transparent;
    cursor: pointer;
}

/* END */

/* Declaring global custom CSS properties */

:root {

    --main-width: 1280px;
    --main-side-margin: 1rem;
    --main-side-padding: 1rem;

}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f3f4f6;
    font-size: .875rem;
    color: #69699b;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main_container {
    width: 100%;
    max-width: var(--main-width);
    padding: 0 var(--main-side-padding);
    margin: 0 auto;
    background-color: white;
}

  


      
        .banner {
            position: relative;
            width: 100%;
            height: 600px;
            background-image: url('Website2.0/images/hone page/main image.png');
            background-size: cover;
            background-position: center;
        }
        .banner-text {
            font-size: 20px;
            position: absolute;
            top: 38%;
            left: 20%;
            transform: translate(-50%, -50%);
            color:#9AB0DB;
            text-align: center;
            
           
            padding: 10px 20px;
            border-radius: 5px;
           font-family:  Georgia, Times, 'Times New Roman', serif;
        }
        @media (max-width: 768px) {
            .banner {
                height: 200px;
            }
            .banner-text {
                font-size: 18px;
                padding: 5px 10px;
            }
        }
        @media (max-width: 480px) {
            .banner {
                height: 150px;
            }
            .banner-text {
                font-size:14px;
                padding: 5px;
            }
        }

/* Footer */

.footer_container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: var(--main-side-padding);
    align-items: center;
    
    color: #69699b;
   margin-top: 10%;
}

.footer_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
    border-bottom: 1px solid #e2e2eb;
}

.footer_list {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 1.5rem;
    padding: 0;
}

.footer_separator {
    color: #e2e2eb;
}

.footer_link {
    display: flex;
    cursor: pointer;
    position: relative;
    align-items: center;
    color:#445D31;
}

.footer_link:hover {
    color: #CBDF8D;
}

.footer_socials {
    display: flex;
    flex-direction: row;
    column-gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.footer_link svg {
    fill: #445D31;
}

.footer_link svg:hover {
    fill: #CBDF8D;
}

.footer_socials .footer_link:hover {
    fill: #CBDF8D;
}

.footer_copyright {
    font-size: .75rem;
    color: #8d8db3;
    text-align: center;
}

@media screen and (max-width: 900px) {

    .footer_bar {
        flex-direction: column;
        row-gap: 1.5rem;
        align-items: center;
    }

    .footer_socials {
        order: -1;
    }
}



.carousel-container {
    width: 80%;
    overflow: hidden;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    border-radius: 10px;
    margin-bottom: 5%;
}
.carousel {
    display: flex;
    transition: transform 0.5s ease;
}
.carousel-item {
    min-width: 33.33%;
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
}
.carousel-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.description {
    font-family:  Georgia, Times, 'Times New Roman', serif;
    padding: 10px 0;
    font-size: 16px;
    color: #445D31;
}
.header_des{
    font-family:  Georgia, Times, 'Times New Roman', serif;
    color: #445D31;
    font-size: 25px;
}
.car_head{
    font-family:  Georgia, Times, 'Times New Roman', serif;
    color: #445D31;
    font-size: 25px;
    font-size: 40px;
    border-bottom: 3px;
    margin-left: 45%;
  
}
@media (max-width: 768px) {
    .carousel-item {
        min-width: 50%;
    }
}
@media (max-width: 480px) {
    .carousel-item {
        min-width: 100%;
    }
}


.about-us-container {
    margin-top: 10%;
    background-color:#CBDF8D;
    margin: 20px auto;
    padding: 20px;
   width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-family:  Georgia, Times, 'Times New Roman', serif;
}
.about-us-header {
    text-align: center;
    color:#445D31;
}
.about-us-header h1 {
    margin: 0;
    font-size: 2em;
}
.about-us-content {
    margin-top: 20px;
    color: #445D31;
    line-height: 1.6;
}
@media (max-width: 768px) {
    .about-us-container {
        padding: 10px;
    }
    .about-us-header h1 {
        font-size: 1.5em;
    }
}

.testimonials {
    background-color: #f4f4f4;
    padding: 50px 20px;
    text-align: center;
    margin-bottom: 10%;
}
.testimonial {
    margin: 20px auto;
    width: 60%;
    background: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    
}
.testimonial p {
    font-size: 1em;
    color: #445D31;
    margin: 0;
}
.testimonial .author {
    margin-top: 10px;
    font-weight: bold;
    color:#445D31;
}
@media (max-width: 768px) {
    .testimonials {
        padding: 30px 10px;
    }
}


.container-block {
    
            justify-content: center;
            width: 80%;
   margin-left: 10%;
   
}
.block {
    width: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
   
    justify-content: space-around;
    
     font-family:  Georgia, Times, 'Times New Roman', serif;
}
.block1{
    padding: 20px; 
    margin-top: 5%;
    margin-bottom: 5%;
   color: #445D31;
   background-color: #CBDF8D;
   margin: 5%;
   border-radius: 5px;

}
.block2{
    padding: 20px; 
    margin-top: 5%;
    margin-bottom: 5%;
    color: #445D31;
    background-color: white;
    margin: 5%;
    border-radius: 5px;
 
}
.block3{
    padding: 20px; 
    margin-top: 5%;
    margin-bottom: 5%;
    color: #445D31;
    background-color: #9AB0DB;
    margin: 5%;
    border-radius: 5px;
 
}
.block4{
    padding: 20px; 
    margin-top: 5%;
    margin-bottom: 5%;
    color: #445D31;
    background-color: #CBDF8D;
    margin: 5%;
    border-radius: 5px;
 
}
.block5{
    padding: 20px; 
    margin-top: 5%;
    margin-bottom: 5%;
    color: #445D31;
    background-color: white;
    margin: 5%;
    border-radius: 5px;
 
}
@media (max-width: 768px) {
    .container-block {
        padding: 10px;
    }
    .about-us-header h1 {
        font-size: 1.5em;
    }
}